<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="css/common.css">
	<title>Document</title>
</head>
<body>
	<% include ./templates/nav-header.ejs %>
	<h1>Recipe Not Found... Sorry</h1>
	
</body>
</html>